<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Educacion 1</h1>- <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore corporis eaque, accusantium adipisci consequatur quae impedit similique voluptate officia fugiat omnis iste iusto incidunt, nostrum, sunt nihil magni laboriosam ullam.
            </p>
        </ul>
        <ul>
            <li>
                    <h1>Educacion 2</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor cupiditate optio amet? Nostrum excepturi ab, quasi dignissimos incidunt dolores saepe, tempora, iste eius nulla magnam ratione magni? Illum, nihil enim.
            </p>
        </ul>
        <ul>
            <li>
                    <h1>Educacion 3</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor cupiditate optio amet? Nostrum excepturi ab, quasi dignissimos incidunt dolores saepe, tempora, iste eius nulla magnam ratione magni? Illum, nihil enim.
            </p>
        </ul>
    </div>
</div>

