<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfil.png" class="img-fluid" id="photo">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Rivas Luca</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores ullam magnam corporis aperiam deleniti illo quod pariatur qui, commodi, sequi mollitia officiis aspernatur alias, animi dolores aliquam fuga excepturi modi.</p>
        </span>
    </div>
</div>
